
@{
    ViewBag.Title = "Home";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == true)
    {
        Response.Redirect("~/Home/IndexC");
    }
}

<div class="row">
    <div class="container marketing">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">EasyJob :</h2>
                <p class="lead">Une application de recherche d'emploi côté chercheur d'emploi et entreprise</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto img-circle" width="350" src="https://us.123rf.com/450wm/tatianasun/tatianasun1705/tatianasun170500157/79165394-rechercher-des-talents-avec-une-id%C3%A9e-d-illustration-%C3%80-la-recherche-d-employ%C3%A9s-cr%C3%A9atifs-concept-d-e.jpg?ver=6" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Un outil de recherche </h2>
                <p class="lead">Notre application met à votre disposition un outil de recherche pour vous permettre de trouver l'offre correspondant à vos attentes </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto img-circle" width="450 " src="https://www.pme-web.com/wp-content/uploads/2017/07/recherche-emploi-outil-960x540.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une plateforme de rencontre : </h2>
                <p class="lead">Vous pourrez échanger avec un grand nombre d'entreprise</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto img-circle" width="350" src="https://www.talenteo.fr/wp-content/uploads/2016/09/interview-1018333_960_720.png" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>
