
@{
       if (Session["userID"]==null || (bool)Session["company"] == false)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexC</title>
</head>
<body>
    <div>
        @Session["userID"].ToString()
        @Session["company"]
    </div>
</body>
</html>
