
@{
    ViewBag.Title = "Home";
    if (Session["userID"] == null || (bool)Session["company"] == true)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="row">
    <h1>Job Offers</h1>
</div>
<div class="row">
    <div class="col">
        <evil-tinder></evil-tinder>
    </div>
    
</div>
@Styles.Render("~/Content/likeordislike.css")
@Scripts.Render("https://code.jquery.com/pep/0.4.1/pep.js")
@Scripts.Render("https://unpkg.com/can@4/dist/global/can.js")
@Scripts.Render("~/Scripts/likeordislike.js")