@{
    ViewBag.Title = "Home";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == false)
    {
        Response.Redirect("~/Home/IndexJS");
    }
}

<div class="row">
    <h1>Home Company</h1>
</div>
