
@{
    ViewBag.Title = "Home";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
    if ((bool)Session["company"] == true)
    {
        Response.Redirect("~/Home/IndexC");
    }
}

<div class="row">
    <h1>Home JobSeeker</h1>
</div>
